body {
  background-color: aquamarine;
}

main {
  display: flex;
  height: wrap;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background-color: transparent;
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(4, 106, 106);
  color: white;
  cursor: pointer;
}

.card {
  display: flex;
  max-width: 300px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(28, 226, 160);
  border-radius: 10px;
  padding: 80px;
  margin: 20px;
}

.card .favorite-button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
}

.card .favorite {
  display: flex;
  width: 60px;
  cursor: pointer;
}

.cardheader {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.favoritebuttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(rgb(212, 176, 101), rgb(248, 206, 118));
  color: black;
}
