body {
  background-color: aquamarine;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 1rem;
  padding: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.5rem;
}

.card {
  background: linear-gradient(135deg, #50e3c2, #7f7fd5);
  padding: 4rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  background: linear-gradient(to right, rgb(28, 226, 160), rgb(121, 121, 247));
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

.startsection {
  display: flex;
  width: 100%;
  justify-content: center;
}

header {
  display: flex;
  background-color: transparent;
  color: white;
  padding: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(4, 106, 106);
  color: white;
  cursor: pointer;
}

.forecastcard {
  grid-column: 1 / -1;
  background: linear-gradient(135deg, #50e3c2, #7f7fd5);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card .favorite-button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
}

.card .favorite {
  display: flex;
  width: 60px;
  cursor: pointer;
}

li {
  list-style-type: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.favoritebuttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(rgb(212, 176, 101), rgb(248, 206, 118));
  color: black;
}

@media (max-width: 810px) {
  .main-grid {
    grid-template-columns: 1fr;
  }

  .forecastcard {
    grid-column: 1; /* Behöver inte spänna över något */
  }
  .startsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
