body {
  background-color: aquamarine;
}

main {
  display: flex;
  height: wrap;
  justify-content: center;
  align-items: center;
}

header {
  background-color: transparent;
  color: white;
  padding: 10px;
  text-align: center;
}

button {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(4, 106, 106);
  color: white;
  cursor: pointer;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(28, 226, 160);
  border-radius: 10px;
  padding: 80px;
  margin: 20px;
}

.card .favorite-button {
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
}

.card .favorite {
  display: flex;
  width: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.cardheader {
  display: flex;
  justify-content: space-between;
}
