header {
  display: flex;
  background-color: transparent;
  color: white;
  padding: 10px;
}

.fav-btn {
  background: linear-gradient(rgb(212, 176, 101), rgb(248, 206, 118));
  color: black;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}
