header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 200px;
}

.fav-btn {
  height: 100%;
  width: 200px;
  background: rgb(42, 42, 144);
  color: goldenrod;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 2px 2px 10px #19191a;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.searchbtn {
  background: rgb(4, 106, 106);
  color: white;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.fav-btn:hover {
  background: rgb(47, 19, 230);
}

.bookmark-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  form {
    flex-direction: column;
  }

  form input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .fav-btn {
    width: 100%;
  }
}
